@import "./fonts";
@import "./color.scss";


body{
  display: relative;
  background-image: url("/img/bgMain.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

