
.bgGray{
    background: #BDBDBD;
}

.bgGray2{
    background: #828282;
}

.bgGray3{
    background: #4F4F4F;
}

.bgLightGray{
    background: #D6D6D6;
}

.bgHardGray{
    background: #333333;
}

.bgWhite{
    background: #FFFFFF;
}

.bgBlag{
    background: #202020;
}

.blue{
   color: #2D9CDB;;
}

.Gray2{
    color:#828282 ;
}
.blag{
color:#202020;
}
:root {
    --successColor: #90ee90;
    --errorColor: #dc143c;
    --buttonColor: #3498db;
  }