.container__profile{
    position: absolute;
    display: inline-flex;
    margin: 60px 5vw;
    width: 89vw;
}

.container__profile img{
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    margin: 2vh 4vw; 
}

.container__profile h6{
    margin-left: 2vw;
    margin-bottom:3vh ;
}



.profile__left_column{  
    height: 100vh;
    width: 22vw;
}

.profile__right_column{  
    width: 80vw;
}

.right_column__info{
    margin: 3vw 4vw;
    
}

.right_column__info h2{
    margin-bottom: 10vw;
}
.info__stroka{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 25px;
    border: 0px;
    border-bottom: 2px solid rgb(167, 167, 167);      
    margin-bottom: 2vh;
}

.info__stroka_1{
    margin-top: 5px;

}

.info__stroka_2{
    margin-top: 5px;    
    
}

.profile__right_column button{
    width: 20vw;
}